.redeslogos{
    text-align: center;
}

button{
    color: white;
    background-color: #8979e8;
    border-color: #8979e8;
    padding: 10px 20px; 
    border-radius: 50px;
}

.button2{
    color:#8979e8;
    background-color: transparent;
    border-color: #8979e8;
    padding: 10px 20px; 
    border-radius: 50px;
}
.button2:hover {
    background: #8979e8; 
    color: white;
}

.button3{
    color: white;
    background-color: #090909;
    border-color: #090909;
    padding: 10px 20px; 
    border-radius: 50px;
}
.carousel-fade{
  padding: auto;  
}
.testimonios{
    text-align: center;
}
.imgRedonda{
    border-radius: 50%;
}

footer{
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 50px;
}
.navd{
    border-color: transparent;
    background-color: transparent;
}
.navd:hover{
    color: #ed9981;
}

.final{
    text-align: center;
}
.ND{
    color: #8e9ca1;
}
.navdown{
    padding-left: 30px;
}
.navdown2{
    padding-left: 30px;
    padding-right: 50%;
}