body {
    font-family: sans-serif;
}

h1{
    font-family: monospace;
}
  
table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
}
  
td, th {
    border: 1px solid red;
    padding: 10px 20px;
}

th{
    font-weight: bold;
    background-color: lightseagreen;
}

td {
    background-color: rgb(205, 241, 253);
    text-align: center;
}
  